/* ===============All Mess Shown=============== */
.text-warning{
    color: #ff810a !important;
}
.offer-slider img {
    width: 100%;
}

.cat-item {
    height: 300px;
}
.member-plan .item-img{
    height: 12px !important;
    background: white;
}
.badge-two{
    color: #ff810a !important;
    border: 2px solid #ff810a !important;
    background-color: white !important;
}
.mess-info{
    width: 100%;
    right: 0px !important;
    display: flex;
    justify-content: center;
}
.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.marquee-content {
    display: flex;
    animation: marquee 15s linear infinite;
    /* Adjust duration as needed */
}

.marquee-item {
    white-space: nowrap;
    /* Prevents text from wrapping */
    display: inline-block;
    margin-right: 20px;
    /* Adjust spacing between items */
}

.toggle-right
{
    position: absolute;
    top: 0px;
    right: 60px;
}
.location-bar{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
}

/* .btn-veg{

} */

/* ============ Mess Detail Page ===============*/
.btn-veg:checked + .btn{
    color: white !important;
    background-color: #198754 !important;
    border-color: #198754 !important;
}
.btn-veg-outline {
    --bs-btn-color: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #198754;
    --bs-btn-hover-border-color: #198754;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #198754;
    --bs-btn-active-border-color: #198754;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #198754;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #198754;
    --bs-gradient: none;
}
.btn-nv:checked + .btn{
    color: white !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}
.btn-nv-outline {
    --bs-btn-color: #dc3545;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #dc3545;
    --bs-btn-hover-border-color: #dc3545;
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #dc3545;
    --bs-btn-active-border-color: #dc3545;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #dc3545;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #dc3545;
    --bs-gradient: none;
}
.osahan-card-body ::-webkit-scrollbar {
    width: 10px; 
    height: 5px; 
}
.three-veg-meal {
    /* background: #b2dcb2; */
    /* border: 2px solid #198754; */
}
.three-veg-meal h6{
    color: #198754;
}
.three-nv-meal {
    /* background: #dcb2b2;
    border: 2px solid brown; */
}
.three-nv-meal h6{
    color: #dc3545;
}
.three-meal h6{
    font-size: 20px;
}
.three-meal{
    border-top: 4px solid #ff810a;
}
.food-type{
    height: 15px;
    width: 15px;
}
.form-check-input:checked {
    background-color:#ff810a;
    border-color: #ff810a;
}
.form-check-input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(253 188 13 / 25%);
}

.mess-custom-input {
    display: flex;
    align-items: center;
}

.mess-custom-input input[type="text"] {
    width: 40px;
    text-align: center;
    border: 1px solid #ff810a;
}

.mess-custom-input button {
    padding: 2px 10px;
    border: none;
    color: white;
    background: #ff810a;
    cursor: pointer;
}
.decrease-btn{
    border-radius: 5px 0px 0px 5px;
}
.increase-btn{
    border-radius: 0px 5px 5px 0px;
}
.qr-position{
    bottom: 104px !important;
}
.collapse-content {
    display: none;
}
.expanded {
    display: block;
}
.border-warning{
    border: var(--bs-border-width) var(--bs-border-style) #ff810a !important;
}
.tabs-section {
    width: 100%;
    /* max-width: 1000px;  */
    margin: 0 auto;
    padding: 10px 0px;
    background-color: white;
}

.tab-buttons {
    display: flex;
    justify-content: space-between; /* Adjust alignment as needed */
    /* margin-bottom: 10px; */
}

.tab-button {
    flex: 1; /* Distribute tabs evenly */
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-bottom: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    text-align: center; /* Center text within the tab */
}

.tab-button.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    border-top: 4px solid #ff810a;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
.mess-title{
    font-size: 25px;
}
.one-diet-info{
    background: #8080802e;
    border-left: 2px solid;
    border-radius: 0;
}
.bookmark-icon {
    width: 115px;
    height: 30px;
    background-color: #ff810a;
    /* position: relative; */
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 0; 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 15% 50%);
}
.bookmark-icon-two {
    background-color: #fff !important;
}
.mess-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.mess-address {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.package-view{
    bottom: -21px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.package-img{
    height:160px; 
    width:160px; 
    border-radius:20px;
}

@media (max-width: 576px) {
    .cat-item{
        height: auto;
    }
    .qr-position{
        bottom: 82px !important;
    }
    .list-card.d-flex .list-card-image {
        width: 160px;
        /* height: 140px; */
        height: 100%;
        min-width: 180px;
        max-width: 160px;
    }
    .package-img{
        height:130px; 
        width:130px; 
        border-radius:20px;
    }
    .three-meal h6{
        font-size: 13px;
    }
    .mess-title{
        font-size: 17px;
    }
    .bookmark-icon {
        width: 97px;
    }
    .tabs-section{
        padding: 0px;
    }
    .count-number .btn {
        padding: 9px;
    }
    .count-number-input {
        width: 27px;
    }
}
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


.notification {
    max-width: 300px;
    width: 100%;
}
.notification-header {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    background: #f7f7f7;
}
.notification-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.notification-item img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.notification-item .content {
    flex-grow: 1;
}
.notification-item .time {
    color: #aaa;
    font-size: 0.9em;
}
.notification-footer {
    text-align: center;
    padding: 10px;
    background: #f7f7f7;
}