.list-card a.location{
    color: inherit;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 600;
    text-overflow: ellipsis;
}
.member-plan{
    font-size: 12px;
}
.list-card.d-flex .list-card-image .item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}
.list-card a, .list-card h6 {
    color: inherit;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 800;
    text-overflow: ellipsis;
}
.pac-container{
    z-index: 99999;
}