
@import url('./fontawesome.css');
.initial-57-2 {
    max-height: 100px;
    border-radius: 10px;
    -o-object-fit: contain;
    object-fit: contain;
}

.bg-c1{
    background-color: #0096ff !important;
}
.bg-c1-soft{
    background-color: #0096ff26 !important;
}
.bg-c2{
    background-color: #00aa6d !important;
}
.bg-c2-soft{
    background-color: #00aa6d26 !important;
}
.bg-c3{
    background-color: #f83b3b !important;
}
.bg-c3-soft{
    background-color: #f83b3b1a !important;
}
.bg-c4{
    background-color: #fff500 !important;
}
.bg-c4-soft{
    background-color: #fff50033 !important;
}
.bg-c5{
    background-color: #6e89af !important;
}
.bg-c5-soft{
    background-color: #6e89af0d !important;
}
.resturant-icon{
    width: 50px !important;
}



.initial-10 {
    max-width: 100%;
    max-height: 100px;
    border-radius: 10px;
    -o-object-fit: contain;
    object-fit: contain;
}
.initial-80 {
    width: 65px;
    height: 65px;
    -o-object-fit: cover;
    object-fit: cover;
}
.text-dark {
    color: #334257 !important;
}
.h-9rem {
    height: 9.5rem;
}
.pos--payment-options ul li label span {
    color: var(--title-clr);
    border: 1px solid #d0dbe9;
    border-radius: 3px;
    text-transform: capitalize;
    padding: 8px 12px;
    cursor: pointer;
}
.pos--payment-options ul li {
    list-style: none;
    padding: 2.5px;
}
.pos--payment-options ul li label input:checked ~ span {
    color: #fff;
    background:#334257;
    border-color: #334257;
}
.initial-38-1 * {
    font-family: "Roboto Mono", monospace !important;
    font-weight: 500;
    color: #000000;
}
#printableArea {
    margin: 0 !important; 
}
/* .form-check .form-check-input[type="checkbox"]:checked,.form-check .form-check-input[type="radio"]:checked  {
    background: url(../images/icons/check-mark.png) #f4f5f7 no-repeat center center / contain;
    -webkit-box-shadow: 0 0 0 3px #f4f5f7, 0 0 0 4px #c4c8d4;
    box-shadow: 0 0 0 3px #ed9d2430, 0 0 0 4px rgba(0,0,0,0);
    border-color: #2e46ba00;
    background-color: #ffffff !important;
} */
.img-50{
    width: 50px !important;
    height: 50px !important;
}
.img-100{
    width: 100px !important;
    height: 100px !important;
}
.img-150{
    width: 150px;
    height: 150px;
}

.img-300X100{
    height: 100px !important;
    width: 300px !important;
}

/*      */
a:hover .text-hover-primary {
    color: var(--bs-primary) !important;
}

.scan-button {
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 24px;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1111;
    transition: transform 0.3s ease-in-out;
  }
  .otp-button {
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 24px;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 120px;
    z-index: 1111;
    transition: transform 0.3s ease-in-out;
  }
  .scan-button:hover , .otp-button:hover{
    transform: scale(1.2);
  }

  .scanner-wrapper{
    height: 100%;
    width: 100%;
    padding: .5rem;
    background: #000;
    position: sticky;
    z-index: 11;
    top: 0;
    left: 0;
}
.scanner-wrapper .scanner{
   width: 100%;
    height: 100%;
   margin: 0 auto;
}
.scanner-wrapper .scanner::before {
   content: "";
   display: block;
    width: 30vw;
    height: 30vw;
    position: absolute;
    z-index: 11111;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(#fff, #fff) left top, linear-gradient(#fff, #fff) left top, linear-gradient(#fff, #fff) right top, linear-gradient(#fff, #fff) right top, linear-gradient(#fff, #fff) left bottom, linear-gradient(#fff, #fff) left bottom, linear-gradient(#fff, #fff) right bottom, linear-gradient(#fff, #fff) right bottom;
    background-repeat: no-repeat;
    background-size: 2px 24px, 24px 2px;
}
  #qr-preview{
    width: 100%;
    height: 100%;
  }


  #otp-container{
	margin: 0;
	padding: 0;
	height: 100vh;
background: #007bff;  /* fallback for old browsers */

}

.otp-box{
	display: flex;
	flex-flow: column;
	height: 100%;
    line-height: 1.6rem;
	align-items: space-around;
	justify-content: center;
}

.userInput{
	display: flex;
	justify-content: center;
}

.userInput input{
	margin: 10px;
	height: 35px;
	width: 65px;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-family: arimo;
	font-size: 1.2rem;
	background: #eef2f3;

}

.otp-submit-button{
	width: 150px;
	height: 40px;
	margin: 25px auto 0px auto;
	font-family: arimo;
	font-size: 1.1rem;
	border: none;
	border-radius: 5px;
	letter-spacing: 2px;
	cursor: pointer;
	background: #616161;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.custom-input {
  display: flex;
  align-items: center;
}

.custom-input input[type="text"] {
  width: 40px;
  height: 30px;
  border: 1px solid #ff810a;
  text-align: center;
}

.custom-input button {
  padding: 3px 10px;
  border: none;
  color: white;
  /* background: linear-gradient(180deg, #ff810a, #e52e71); */
  background: #ff810a;
  cursor: pointer;
}
.decrease-btn{
  border-radius: 5px 0px 0px 5px;
}
.increase-btn{
  border-radius: 0px 5px 5px 0px;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .marquee-content {
    display: flex;
    animation: marquee 15s linear infinite; /* Adjust duration as needed */
  }

  .marquee-item {
    white-space: nowrap; /* Prevents text from wrapping */
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between items */
  }

  .top-information,
  .bottom-information {
    padding: 0 20px;
  }
  
  table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
  table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
     background-color: #29cc97;
     top: 14px;
     width: 16px;
     height: 16px;
     line-height: 16px;
     border: 0;
     font-weight: bold;
     box-shadow: none;
    }
  
  table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    background-color: fec400;
  }


/* -------------- Product Grid Style --------------- */
.product-grid {
    display: flex;
    flex-flow: row wrap;
}

.product-grid .product-item {
    width: 30%;
    padding: 15px;
}

@media (max-width: 992px) {
    .product-grid .product-item {
        width: 33.33%;
    }
}

@media (max-width: 768px) {
    .product-grid .product-item {
        width: 50%;
    }
}

@media (max-width: 576px) {
    .product-grid .product-item {
        width: 100%;
    }
}

.product-grid .product-single {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.product-grid .product-img,
.product-grid .product-content {
    position: relative;
    width: 100%;
    background: #f1f1f1;
    overflow: hidden;
}

.product-grid .product-img img {
    display: block;
    width: 100%;
    transition: .3s;
}


/* --- Product Grid 1 --- */
.product-grid.grid-1 .product-single:hover {
    box-shadow: 0 0 5px #999999;
}

.product-grid.grid-1 .product-single:hover img {
    transform: scale(1.1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.product-grid.grid-1 .product-status {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.product-grid.grid-1 .product-status span:first-child {
    /* display: inline-block; */
    float: left;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    background: #1dbf71;
    opacity: .8;
}

.product-grid.grid-1 .product-status span:last-child {
    /* display: inline-block; */
    float: right;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    background: #ee0000;
    opacity: .8;
}

.product-grid.grid-1 .product-action {
    position: absolute;
    height: 40px;
    width: 100%;
    text-align: center;
    top: calc(50% - 20px);
    font-size: 0;
    transition: .3s;
    opacity: 0;
}

.product-grid.grid-1 .product-action a {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px 0;
    margin: 0 2px;
    font-size: 16px;
    color: #ffffff;
    background: #1dbf71;
}

.product-grid.grid-1 .product-action a:hover {
    background: #252525;
}


.product-grid.grid-1 .product-single:hover .product-action {
    opacity: 1;
}

.product-grid.grid-1 .product-content {
    padding: 15px;
}

.product-grid.grid-1 .product-title,
.product-grid.grid-1 .product-ratting,
.product-grid.grid-1 .product-price {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.product-grid.grid-1 .product-price {
    margin-bottom: 0;
}

.product-grid.grid-1 .product-title h2 {
    font-size: 22px;
    font-weight: 200;
}

.product-grid.grid-1 .product-title h2 a {
    color: #1dbf71;
}

.product-grid.grid-1 .product-title h2 a:hover {
    color: #666666;
}

.product-grid.grid-1 .product-ratting i {
    display: inline-block;
    font-size: 16px;
    color: #1dbf71;
}

.product-grid.grid-1 .product-price h5 {
    display: inline-block;
    color: #1dbf71;
    font-size: 20px;
    font-weight: 200;
}

.product-grid.grid-1 .product-price h5:last-child {
    margin-left: 10px;
    color: #666666;
    text-decoration: line-through;
}

.preview-pic img{
  width: 100%;
}
.addons-container{
  max-height: 250px;
  overflow-y: scroll;
}
.addons-container::-webkit-scrollbar {
  display: none;
}
.addons-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media (max-width: 1199.98px) {
    .content-inner {
        padding: 0.5rem;
    }
}